<h1>Top Artists</h1>

{{#if artist.length}}
    <ul>
        {{#each artist}}
            <li><a href="{{url}}">{{name}}</a>: {{playcount}} plays</li>
        {{/each}}
    </ul>
{{else}}
    <p>You have no activity for the last month.</p>
{{/if}}
